/Art/willow_and_sundew.jpeg filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Asteroid_Miner_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Asteroid_Miner_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Asteroids.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Baby_Star.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Black[[:space:]]Hole_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Black[[:space:]]Hole_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Cloudy[[:space:]]Quasar_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Cloudy[[:space:]]Quasar_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Contemplative[[:space:]]Cosmonaut_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Contemplative[[:space:]]Cosmonaut_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Contemplative[[:space:]]Cosmonaut_3.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Contemplative[[:space:]]Cosmonaut_4.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Cosmic_Islands.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Fleet.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Galaxies.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Galaxy_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Galaxy_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Galaxy_3.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Mars.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-On[[:space:]]A[[:space:]]Moon.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Ringed_Earth.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Satellite[[:space:]]over[[:space:]]Earth.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Solar[[:space:]]System.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Stars.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Stellar[[:space:]]Phenomenon.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Unknown[[:space:]]Lifeform.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Asteroid_Miner_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Asteroid_Miner_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Asteroids.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Baby_Star.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Black[[:space:]]Hole_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Black[[:space:]]Hole_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Cloudy[[:space:]]Quasar_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Cloudy[[:space:]]Quasar_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Contemplative[[:space:]]Cosmonaut_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Contemplative[[:space:]]Cosmonaut_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Contemplative[[:space:]]Cosmonaut_3.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Contemplative[[:space:]]Cosmonaut_4.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Cosmic_Islands.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Fleet.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Galaxies.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Galaxy_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Galaxy_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Galaxy_3.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Mars.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-On[[:space:]]A[[:space:]]Moon.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Ringed_Earth.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Satellite[[:space:]]over[[:space:]]Earth.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Solar[[:space:]]System.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Stars.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Stellar[[:space:]]Phenomenon.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Unknown[[:space:]]Lifeform.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Asteroid_Miner_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Asteroid_Miner_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Asteroids.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Baby_Star.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Black[[:space:]]Hole_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Black[[:space:]]Hole_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Cloudy[[:space:]]Quasar_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Cloudy[[:space:]]Quasar_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Contemplative[[:space:]]Cosmonaut_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Contemplative[[:space:]]Cosmonaut_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Contemplative[[:space:]]Cosmonaut_3.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Contemplative[[:space:]]Cosmonaut_4.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Cosmic_Islands.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Fleet.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Galaxies.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Galaxy_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Galaxy_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Galaxy_3.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Mars.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-On[[:space:]]A[[:space:]]Moon.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Ringed_Earth.jpg.jpg filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Satellite[[:space:]]over[[:space:]]Earth.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Solar[[:space:]]System.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Stars.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Stellar[[:space:]]Phenomenon.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Unknown[[:space:]]Lifeform.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Asteroid_Miner_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Asteroid_Miner_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Asteroids.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Baby_Star.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Black[[:space:]]Hole_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Black[[:space:]]Hole_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Cloudy[[:space:]]Quasar_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Cloudy[[:space:]]Quasar_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Contemplative[[:space:]]Cosmonaut_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Contemplative[[:space:]]Cosmonaut_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Contemplative[[:space:]]Cosmonaut_3.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Contemplative[[:space:]]Cosmonaut_4.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Cosmic_Islands.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Fleet.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Galaxies.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Galaxy_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Galaxy_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Galaxy_3.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Mars.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-On[[:space:]]A[[:space:]]Moon.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Ringed_Earth.jpg.jpg filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Satellite[[:space:]]over[[:space:]]Earth.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Solar[[:space:]]System.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Stars.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Stellar[[:space:]]Phenomenon.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Unknown[[:space:]]Lifeform.png filter=lfs diff=lfs merge=lfs -text
/Photos/lake.jpg filter=lfs diff=lfs merge=lfs -text
/Photos/mountains.jpg filter=lfs diff=lfs merge=lfs -text
/Photos/sandstone.jpg filter=lfs diff=lfs merge=lfs -text
/Pixel[[:space:]]Art/1.gif filter=lfs diff=lfs merge=lfs -text
/Pixel[[:space:]]Art/2.gif filter=lfs diff=lfs merge=lfs -text
/Pixel[[:space:]]Art/waterfall.jpeg filter=lfs diff=lfs merge=lfs -text
/Stardew[[:space:]]Valley/map.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Asteroid_Miner_1.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Asteroid_Miner_2.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Asteroids.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Baby_Star.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Black[[:space:]]Hole_1.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Black[[:space:]]Hole_2.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Cloudy[[:space:]]Quasar_1.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Cloudy[[:space:]]Quasar_2.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Contemplative[[:space:]]Cosmonaut_1.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Contemplative[[:space:]]Cosmonaut_2.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Contemplative[[:space:]]Cosmonaut_3.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Contemplative[[:space:]]Cosmonaut_4.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Cosmic_Islands.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Fleet.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Galaxies.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Galaxy_1.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Galaxy_2.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Galaxy_3.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Mars.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-On[[:space:]]A[[:space:]]Moon.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Ringed_Earth.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Satellite[[:space:]]over[[:space:]]Earth.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Solar[[:space:]]System.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Stars.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Stellar[[:space:]]Phenomenon.png filter=lfs diff=lfs merge=lfs -text
/Unthemed/Kurzgesagt/Kurzgesagt-Unknown[[:space:]]Lifeform.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Black_Hole_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Black_Hole_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Cloudy_Quasar_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Cloudy_Quasar_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Contemplative_Cosmonaut_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Contemplative_Cosmonaut_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Contemplative_Cosmonaut_3.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Contemplative_Cosmonaut_4.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-On_A_Moon.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Satellite_over_Earth.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Solar_System.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Stellar_Phenomenon.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Frappe/Kurzgesagt-Unknown_Lifeform.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Black_Hole_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Black_Hole_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Cloudy_Quasar_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Cloudy_Quasar_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Contemplative_Cosmonaut_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Contemplative_Cosmonaut_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Contemplative_Cosmonaut_3.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Contemplative_Cosmonaut_4.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-On_A_Moon.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Satellite_over_Earth.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Solar_System.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Stellar_Phenomenon.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Latte/Kurzgesagt-Unknown_Lifeform.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Black_Hole_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Black_Hole_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Cloudy_Quasar_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Cloudy_Quasar_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Contemplative_Cosmonaut_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Contemplative_Cosmonaut_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Contemplative_Cosmonaut_3.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Contemplative_Cosmonaut_4.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-On_A_Moon.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Satellite_over_Earth.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Solar_System.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Stellar_Phenomenon.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Macchiato/Kurzgesagt-Unknown_Lifeform.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Black_Hole_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Black_Hole_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Cloudy_Quasar_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Cloudy_Quasar_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Contemplative_Cosmonaut_1.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Contemplative_Cosmonaut_2.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Contemplative_Cosmonaut_3.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Contemplative_Cosmonaut_4.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-On_A_Moon.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Satellite_over_Earth.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Solar_System.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Stellar_Phenomenon.png filter=lfs diff=lfs merge=lfs -text
/Catppuccin/Mocha/Kurzgesagt-Unknown_Lifeform.png filter=lfs diff=lfs merge=lfs -text
/Pixel[[:space:]]Art/animated-street-evening.gif filter=lfs diff=lfs merge=lfs -text
/Pixel[[:space:]]Art/animated-street-night.gif filter=lfs diff=lfs merge=lfs -text
