---
import Navbar from "../components/Navbar.astro";
import Greeting from "../components/Greeting.astro";
import Gallery from "../components/Gallery.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Navbar />
  <div class="p-8 mt-(--navbar-height)">
    <Greeting />
    <Gallery />
  </div>
</Layout>
