<div class="warning">
  <p>
    <strong>warning:</strong> this site is still a work in progress, you may have
    a better experience previewing the wallpapers <a
      href="https://github.com/42willow/walls-bak"
      target="_blank">here</a
    > in the meantime
  </p>
</div>

<p>hii, welcome to my wallpaper dump!</p>

<p>remember to credit original authors and enjoy your stay ^-^</p>

<p class="sub">
  <strong>note:</strong> the reason the wallpapers are compressed is to speed up
  your viewing experience, if you hover over the wallpaper you will find a download
  button
</p>

<style>
  .sub {
    color: var(--ctp-subtext0);
    font-style: italic;
  }
  a {
    color: inherit;
    font-style: italic;
  }
  .warning {
    background-color: var(--ctp-yellow);
    color: var(--ctp-base);
    padding: 0px 16px 0px 16px;
    display: inline-block;
    border-radius: var(--br);
  }
</style>
