<p>hii, welcome to my wallpaper dump!</p>

<p>remember to credit original authors and enjoy your stay ^-^</p>

<p class="sub">
  <strong>note:</strong> the reason the wallpapers are compressed is to speed up
  your viewing experience, if you hover over the wallpaper you will find a download
  button
</p>

<style>
  .sub {
    color: var(--ctp-macchiato-subtext0);
    font-style: italic;
  }
</style>
